body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1100px;
    min-height: 600px;
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: space-around;
}
/* Css form Start  */
.group {
    display: flex;
    flex-wrap: wrap;
}
.group:focus-within label {
color:#e74c3c !important;
}
.group__inner {
    position: relative;
}
label {
    display: block;
    font-size: 9px;
    color: #888;
}
label {
    display: block;
}
input::placeholder {
    color: #000;
}
input:focus::placeholder {
    color: transparent;
}
.ifta-label {
    z-index:1;
    position: absolute;
    top: 5px;
    padding:0px 10px 0 10px;
    pointer-events:none;
}
.ifta-field {
    border:0;
    border-radius:4px;
    padding: 20px 10px 5px;
    margin: 0px 5px 10px 0px;
    width: 100px;
    box-shadow:inset 0 0 0 1px #ccc;
    background-color:#F4F3F2;
}
.ifta-field:focus {
    /* -webkit-appearance:none; */
    outline:none;
    box-shadow:inset 0 0 0 2px #e74c3c;
}
/* Css form End  */
.btn-container {
    display: flex;
    gap: 10px;
    width: 118px;
    justify-content: space-evenly;
} 
.btn-container_two {
    display: flex;
    gap: 10px;
    width: 125px;
    justify-content: space-evenly;
}
button {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ff5733;
}