<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floating Label Input</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="app" class="container">
        <div class="wrapper">
            <div>
                <h2>Example №1</h2>
                <div class="group">
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Quantity</label>
                        <input type="number" class="ifta-field" id="input1" placeholder="0" />
                    </div>
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Boxes</label>
                        <input type="number" class="ifta-field" id="input2" placeholder="0" />
                    </div>
                    <div class="group__inner">
                        <label class="ifta-label" for="updateQty">Update Qty</label>
                        <input type="number" class="ifta-field" id="updateQty" v-model="updateQty" placeholder="0" />
                    </div>
                </div>
                <div class="group">
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Units Expected</label>
                        <input type="number" class="ifta-field" id="input4" placeholder="0" />
                    </div>
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Qty per Box</label>
                        <input type="number" class="ifta-field" id="input5" placeholder="0" />
                    </div>
                    <div class="btn-container">
                        <button @click="increment">+</button>
                        <button @click="decrement">-</button>
                    </div>
                </div>
            </div>
            <div>
                <img src="img/Gallary.png" alt="">
            </div>
        </div>
        <hr>
        <div class="wrapper">
            <div>
                <h2>Example №2</h2>
                <div class="group">
                    <div class="btn-container_two">
                        <button @click="decrement">-</button>
                        <button @click="increment">+</button>
                    </div>
                    <div class="group__inner">
                        <label class="ifta-label" for="updateQty">Update Qty</label>
                        <input type="number" class="ifta-field" id="updateQty" v-model="updateQty" placeholder="0" />
                    </div>
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Quantity</label>
                        <input type="number" class="ifta-field" id="input1" placeholder="0" />
                    </div>
                </div>
                <div class="group">
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Units Expected</label>
                        <input type="number" class="ifta-field" id="input4" placeholder="0" />
                    </div>                    
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Qty per Box</label>
                        <input type="number" class="ifta-field" id="input5" placeholder="0" />
                    </div>
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Boxes</label>
                        <input type="number" class="ifta-field" id="input2" placeholder="0" />
                    </div>
                </div>
            </div>
            <div>
                <img src="img/Gallary.png" alt="">
            </div>
        </div>
        <hr>
        <div class="wrapper">
            <div>
                <h2>Example №3</h2>
                <div class="group">    
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Quantity</label>
                        <input type="number" class="ifta-field activ" id="input1" placeholder="0" />
                    </div>
                    <div class="group__inner btn-container_three">
                        <button @click="increment">+</button>
                        <label class="ifta-label" for="updateQty">Update Qty</label>
                        <input type="number" class="ifta-field" id="updateQty" v-model="updateQty" placeholder="0" />
                        <button @click="decrement">-</button>
                    </div>
                </div>
                <div class="group">
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Units Expected</label>
                        <input type="number" class="ifta-field" id="input4" placeholder="0" />
                    </div>                    
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Qty per Box</label>
                        <input type="number" class="ifta-field" id="input5" placeholder="0" />
                    </div>
                    <div class="group__inner">
                        <label styles="" class="ifta-label" for="input1">Boxes</label>
                        <input type="number" class="ifta-field" id="input2" placeholder="0" />
                    </div>
                </div>
            </div>
            <div>
                <img src="img/Gallary.png" alt="">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            updateQty: 0
        },
        methods: {
            increment() {
                this.updateQty++;
            },
            decrement() {
                if (this.updateQty > 0) {
                    this.updateQty--;
                }
            }
        }
    });
</script>


</body>
</html>
